body {
  background-color: #f5f5f5;
  color: #222;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #222;
  color: #f5f5f5;
}


body.dark .buttons {
  background: #333;
  color: #f5f5f5;
}

