.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Ocultar checkbox nativo */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

/* Bola */
.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

/* Checked */
input:checked + .slider {
  background-color: #a254dd;
  border-color: transparent;
}

input:checked + .slider::before {
  transform: translateX(24px);
}
